.header{
    background: #232F3E;
    height: 40px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-evenly;
    
}

.ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    flex-grow: 1;
    margin-left: 15px;
   
}
.ul>li>a{
    color: #ffffff;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 30vw;
    min-width: 160px;
    height: 46vh;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.login_flex{
     display: flex; 
}
.dropdown>span{
    color: #ffffff;
}
.dropdown:hover{
    outline: auto;
}
.Return{
    height: 6vh;
    width: 5wh;
    margin-left: 2vw;
}
.Return:hover{
    outline: auto;
}
.Return>span{
    color: #ffffff;
    /* margin-left: 1cm; */
}
.Return>span>a{
    color: #ffffff;
}


/* #carouselExampleInterval{
    z-index: 1;
} */

.para_delivery{
    margin-top: -200px;
    position: absolute;
    z-index: 2;
    display: flex;
    
 
}
.para{
    background-color: rgba(0 0 0 0);
    margin-left: 10%;
    height: 4vh;
    width: 90vw;
}

#local_delivery{
    align-items: center;
}

.outr_box{
    height: 45vh;
    width: auto;
    /* background-color: bisque; */
    display: flex;  
    flex-direction: row; 
    justify-content: space-around;
    margin-bottom: 20vh;
}
.inn_box{
    height: 54vh;
    width: 20vw;
    background-color: white;
    display: flex;  
    flex-direction: column; 
    justify-content: space-between; 
}

.inn_box_head{
    height: 0vh;
}

.inn_box_disp{
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inn_box_link{
    height: 4vh;  
}

   


/* footer */

footer{
    margin-top: 15px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #57475a;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
}
  .footer>ul>li>a:visited{
    color: white; 
} 
.footer{
    background-color: #232F3E;
    height: 350px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    line-height: 6px;
}
.footer ul{
    margin-top: 50px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #dddddd;
}
 .log{
    height: 70px;
    background-color: #232F3E;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*.logo{
    background-image: url(https://th.bing.com/th?id=OIP.RbDmmt0F982-5AzJmXvXtAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    width: 100px;
} */
.foot-panel{
    background-color: #0f1111;
    height: 73px;
    color: #dddddd;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 15px;
}
.copyright{
    padding-top: 5px;
} 
